.follower {
	&__username {
		font-size: 14px;
		line-height: 14px;
		color: #57606a;

		&:hover {
			color: #0000ff !important;
		}
	}

	&__email {
		font-size: 12px;
		line-height: 14px;
	}
	&__btn {
		font-size: 14px;
		border-radius: 8px;
	}
}
